.oxmod-ctrip-img-list{
/* CSS */
	overflow: hidden;
	.col1,.col2{
		width:50%;
		-webkit-box-sizing: border-box;
	}
	.col1{
		float: left;
		border-right: solid 1px #fff;
	}
	.col2{
		float: right;
		border-left: solid 1px #fff;
	}
	.list{
		//margin:0 -1px;
		//display: flex; 
		//flex-wrap:wrap;

	}
	.item{
	
        //-webkit-column-break-inside: avoid;
      	//break-inside: avoid;
		//display: block;
		//width:50%;
		-webkit-box-sizing: border-box;
		//float: left;
		//border:1px #fff solid;
		font-size: 0;
		margin-bottom: 2px;
		position: relative;
		//float: left;
		//grid-row: 1 / 4; 
		//grid-column: 1;
		&:nth-child(2n){
			//grid-row: 1 / 3; 
			//grid-column: 2;
			//float:right;
		}
	
	}
	.desc{
		background-color: rgba(0, 0, 0, 0.8);
		font-size: 12px;
		color:#fff;
		//margin-top: -20px;
		position: absolute;
		line-height: 1.4;
		padding:1px 3px;
		width: 100%;
		bottom: 0;
		left:0;
		-webkit-box-sizing: border-box;
	}
	.img{
		width:100%;
		//min-height: 30px;
	}
 }
